{% extends "base.html" %}

{% block content %}

    <div class="container" >
        <div class="row justify-content-start">
            <div class="col" id="containerLeft">
                {% for value in values %}
                    <a href="{{ url_for('value', id2=value.value_id) }}">
                        <div class="value">
                            <img src="{{ url_for('static', filename='icons/black/car.png') }}" width="55" height="20" alt="icon">
                            {{ value.title }}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="col" id="containerRight">
                {% block div %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}
