<!DOCTYPE html>
<html lang="sl">
    <head>
        <meta charset="UTF-8">
        <title>unImportant - login</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static',filename='login-register.css') }}">
    </head>
    <body class="align-items-center">
        <div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username(size=32, class_="login-form", placeholder="Username") }}
                    {% for error in form.username.errors %}
                    <span style="color: red">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password(size=32, class_="login-form", placeholder="Password") }}
                    {% for error in form.password.errors %}
                    <span style="color: #ff0000">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class_="btn btn-dark") }}</p>
                <p id="newUser">No profile? <a href="{{ url_for('register') }}">Click here for registration</a></p>
            </form>
        </div>
    </body>
</html>